.vlmodal {
  --vlm-z-index: 1000;

  // Overlay
  --vlm-overlay-z-index: 999;
  --vlm-overlay-background-color: rgba(0, 0, 0, 0.5);

  // Wrapper
  --vlm-wrapper-z-index: 1000;

  // Container
  --vlm-container-max-height: 90%;
  --vlm-container-max-width: 90%;
  --vlm-container-border-radius: 3px;
  --vlm-container-background-color: #fff;
  --vlm-container-border: 0;
  --vlm-container-box-shadow: 0 26px 80px rgba(0, 0, 0, .2), 0 0px 1px rgba(0, 0, 0, .2);

  // Layout
  --vlm-header-border: 1px solid #e5e5e5;
  --vlm-footer-border: 1px solid #e5e5e5;
}
